name: Attach jar file at Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  upload-jar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code to the tag release branch
        uses: actions/checkout@v4

      - name: Upload JAR to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./dist/singular-user-storage-provider-with-dependencies.jar
          asset_name: singular-user-storage-provider-with-dependencies.jar
          asset_content_type: application/java-archive
